<!-- <h1> APP COMPONENT</h1>

<div class="container" >
  <div class="row" >
     <div class="form-bg" >
       <form  [formGroup]='signupForm' (ngSubmit)="postData(signupForm)" >

        <div class=" form-group " >
          <input type="text"  formControlName="Fname" placeholder="first name " >
        </div>

        <div class=" form-group " >
          <input type="text" formControlName="Lname" placeholder="last name ">
        </div>
          
        <div class=" form-group " >
          <input type="text" formControlName="EmailId" placeholder="email id "  >
        </div>

        <div class=" form-group " >
          <input type="password" formControlName="userpassword" placeholder="password"  >
        </div>
        <br/>
          
        <div  >
         <button type="submit" value=" postData " >Register</button>
         <button type="button" (click)="resetbtn()" > reset </button>
         <button type="button" (click)="filldata()" > fill data </button>

        </div>


      </form>
    </div>
 </div>

</div> -->




<app-nested-form-array></app-nested-form-array>